* {
    padding: 0px;
    margin: 0px;
}

body {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    padding: 20px;
    margin: 50px;
}


/* CSS NAV-BAR */
#item:hover {
    transition: 500ms;
    border-radius: 15px;
    background-color: white;
    color: blue;
    padding: 10px;
}
#item{
    font-size: 20px;
    vertical-align: middle;
}

.sticky {
    position: sticky;
    top: 0px;
    background-color: rgb(227, 229, 255);
    color: black;
    padding: 1px;
    z-index: 1;
    text-shadow: rgb(173, 173, 173) 3px 3px 3px;
}

a {
    color: black;
    text-decoration: solid;
    margin-right: 30px;
    font-size: medium;
}

#icone-eden{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    vertical-align: middle;
}


/* Imagens */
.imgHomem {
    width: 50%;
    height: 865px;
    float: left;
}

.imgEden {
    float: right;
    width: 400px;
    margin-top: 80px;
    margin-right: 300px;
    margin-bottom: 50px;
}

/* Box formulários */
.box {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 120px;
    padding-right: 500px;
    border-radius: 10px;
    color: grey;
    border-radius: 0px;
    background-color: rgb(238, 238, 238);
    box-shadow: rgb(200, 199, 199) 3px 3px 10px 2px;
}

/* Campos para logins */
input {
    margin-top: 20px;
    width: 260px;
    padding: 20px;
    border: 0px;
    background-color: rgb(208, 208, 208);
}


/* Botão */
.enviar {
    display: inline-block;
    margin-top: 50px;
    margin-left: 450px;
    text-align: center;
    border-radius: 15px;
    box-shadow: rgb(200, 199, 199) 3px 3px 10px 2px;
    background-color: rgb(24, 24, 214);
    padding: 10px;
    color: white;
}