* {
    padding: 0px;
    margin: 0px;
}

a:hover {
    transition: 500ms;
    border-radius: 15px;
    background-color: white;
    color: blue;
    padding: 10px;
}

body {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.sticky {
    position: sticky;
    top: 0px;
    background-color: rgb(227, 229, 255);
    color: black;
    padding: 15px;
}

.imgMulher {
    width: 50%;
    float: left;
    height: 724px;
}

.imgEden {
    float: right;
    width: 300px;
    margin-top: 20px;
    margin-right: 270px;
}

#logo {
    float: right;
}

p {
    padding: 20px;
    margin: 50px;
}

a {
    color: black;
    text-decoration: solid;
    text-align: center;
    margin-right: 30px;
}

.box {
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 120px;
    padding-right: 500px;
    border-radius: 10px;
    color: grey;
    border-radius: 0px;
    background-color: rgb(238, 238, 238);
    box-shadow: rgb(200, 199, 199) 3px 3px 10px 2px;
}

.entrar {
    display: inline-block;
    position: absolute;
    top: 650px;
    right: 350px;
    text-align: center;
    border-radius: 15px;
    box-shadow: rgb(200, 199, 199) 3px 3px 10px 2px;
    background-color: rgb(24, 24, 214);
    padding: 10px;
    color: white;
}