* {
    padding: 0px;
    margin: 0px;
}

a:hover {
    transition: 500ms;
    border-radius: 15px;
    background-color: white;
    color: blue;
    padding: 10px;
}

body {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.sticky {
    margin: 0px;
    position: sticky;
    top: 0px;
    background-color: rgb(227, 229, 255);
    color: black;
    padding: 15px;
    z-index: 10;
}

p {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
}

.marginBox {
    padding-bottom: 30px;
}

a {
    color: black;
    text-decoration: solid;
    margin-right: 30px;
}

div {
    margin: 30px;
}

.box {
    margin: 60px;
    border:  gray 2px;
    border-radius: 10px;
    box-shadow: rgb(200, 199, 199) 3px 3px 10px 2px;

}

h2 {
    color: rgb(24, 24, 214);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: bold;
    margin-bottom: 2px;
}

ul {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
}

.ulIndice {
    padding-top: 50px;
}

li {
    margin: 20px;
}

header {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 40px;
    background-color: rgb(197, 201, 255);
    background-image: linear-gradient(to left, transparent, white);
    padding: 90px;
}

.indice {
    margin-left: 5px;
    position: sticky;
    top: 50px;
    left: 0px;
}

.body {
    top: -250px;
    position: relative;
    width: 1208px;
    left: 450px;
}

aside {
    position: sticky;
}